:root {
  --track-color: #1E1E1E;
  --thumb-color: #313030;
  --border-color: #2c2c2c00;
  --track-color-hover: #353535;
  --width-scrollbar: 0px;
  --height-scrollbar: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins' !important;
}

::-webkit-scrollbar {
  width: var(--width-scrollbar);
  height: var(--height-scrollbar);
  overflow: scroll;
}

::-webkit-scrollbar-track {
  background: var(--track-color);
  border-left: 1px solid var(--border-color);
}

::-webkit-scrollbar-thumb {
  background: var(--thumb-color);
  border: solid 3px var(--track-color);
  border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--track-color-hover);
}

.fade-enter-active,
.fade-leave-active {
  transition: all 0.2s;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  filter: blur(1rem);
}

.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
  transition: all 0.2s;
}
.slide-left-enter-from {
  opacity: 0;
  transform: translate(50px, 0);
}
.slide-left-leave-to {
  opacity: 0;
  transform: translate(-50px, 0);
}
.slide-right-enter-from {
  opacity: 0;
  transform: translate(-50px, 0);
}
.slide-right-leave-to {
  opacity: 0;
  transform: translate(50px, 0);
}